:root {
  --fundo: #dbdbdb56;
  --padrao: #fff;
  --corbotão: #f00;
  --pressbotao: #900;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo: #1c1c1c;
    --padrao: #333;
    --black: #fff;
    --textoEscuro: #ddd;
  }
}

body {
  background: var(--fundo);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
  /* display: grid; */
  /* place-content: center; */
  gap: 6rem;
}

h1,
h2,
h3 {
  margin: 0rem;
  color: var(--black);
}

h3 {
  font-size: 1.3rem;
}

header {
  display: grid;
  place-self: center;
  gap: 2rem;
}

li,
ul {
  display: inline-block;
  list-style: none;
  margin: 0rem;
  padding: 0rem;
}

nav a {
  text-transform: uppercase;
  border: 0.125rem solid var(--padrao);
  display: inline-block;
  margin: 1rem;
  background-color: var(--padrao);
  color: var(--black);
  padding: 1rem 2rem;
}

nav a:hover {
  border: 0.125rem solid red;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0rem;
  margin: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  place-content: center;
}

main {
  display: grid;
  max-width: 1000px;
  margin: 60px auto;
  grid-template-columns: 1fr 1fr;
}

.logo {
  margin: 3rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
  color: var(--black);
  justify-self: center;
}

.principal {
  position: relative;
  display: grid;
  place-items: start end;
  padding: 3rem;
  background-color: var(--padrao);
  gap: 1rem;
}

.principal-titulo {
  place-self: end;
  font-size: 2rem;
}
.principal-titulo::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: var(--corbotão);
  right: -1.87rem;
  top: 2.5rem;
}

.principal-p {
  font-size: 1.3rem;
  text-align: right;
  color: var(--textoEscuro);
}

.principal-botão {
  background-color: var(--corbotão);
  color: var(--black);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

.principal-botão:hover {
  background-color: var(--pressbotao);
}

.bicicleta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.vantagens {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 3rem;
  align-self: center;
  background-image: url("img/onda.svg");
  background-repeat: repeat;
  background-size: 990px;
}

.espec {
  background-color: var(--padrao);
  gap: 2rem;
  padding: 2rem;
}

.espec-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin: 1rem;
  padding: 0rem 1rem;
  padding: 1rem;
}

.espec-item:hover {
  border-left: 0.25rem solid var(--corbotão);
}

.espec-item:nth-child(odd) {
  background-color: var(--fundo);
}

.espec p {
  grid-column: 2;
  font-size: 1.2rem;
  color: var(--textoEscuro);
}

footer {
  font-size: 1.4rem;
  background-color: var(--padrao);
  text-align: center;
  padding: 2rem;
}

footer > p {
  color: var(--black);
}

@media (max-width: 710px) {
  body {
    gap: 3rem;
    display: block;
  }

  nav {
    display: block;
    place-self: stretch;
  }

  nav a {
    margin: 1rem 0rem;
  }

  ul,
  li,
  a {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    margin: 0rem;
  }

  .principal {
    padding: 1.5rem;
  }

  .principal-p {
    font-size: 1.7rem;
    text-align: left;
  }

  .vantagens {
    padding: 1rem;
    background-size: auto;
    font-size: 2.2rem;
    grid-column: 1/-1;
    text-align: center;
  }

  .espec p {
    font-size: 1.7rem;
  }

  .espec {
    display: block;
    grid-column: 1/-1;
  }

  .espec-item {
    border-left: 0.25rem solid transparent;
  }

  footer {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 580px) {
  .principal {
    grid-column: 1/-1;
  }

  .principal-p {
    text-align: justify;
  }

  .principal-titulo {
    place-self: start;
  }

  .principal-titulo::before {
    content: none;
  }
  .bicicleta {
    grid-column: 1/-1;
  }
}

/* para quebrar palavras use word-break */
