body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  gap: 6em;
}

p,
h1,
h2,
h3 {
  margin: 0rem;
}

h3 {
  font-size: 1.3rem;
}

header {
  place-self: center;
}

nav {
  display: flex;
  place-self: center;
}

nav a {
  text-transform: uppercase;
  border: 2px solid #fff;
  background: #fff;
  margin: 1rem;
  background-color: #fff;
  padding: 1rem 2rem;
}

nav a:hover {
  border: 2px solid red;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0rem;
  margin: 0rem;
}

main {
  display: grid;
  position: relative;
  left: 12vw;
  max-width: 100%;
  /* margin: 0rem 6rem; */
  max-width: 1000px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.logo {
  margin: 3rem;
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.principal {
  position: relative;
  display: grid;
  place-items: end;
  padding: 3rem;
  background-color: #fff;
}

.principal-titulo {
  font-size: 2rem;
}
.principal-titulo::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: red;
  right: -30px;
  top: 40px;
}

.principal-p {
  font-size: 1.3rem;
  text-align: right;
}

.principal-botão {
  background-color: #f00;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

.principal-botão:hover {
  background-color: #900;
}

.bicicleta {
  width: 100%;
}

.vantagens {
  font-size: 2.5rem;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 3rem;
  align-self: center;
  background-image: url("img/onda.svg");
  background-repeat: repeat;
  background-size: 1020px;
}

.espec {
  background-color: #fff;
  gap: 2rem;
  padding: 2rem;
}

.espec-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  margin: 1rem;
  padding: 0rem 1rem;
  padding: 1rem;
  border-left: 4px solid white;
}

.espec-item:hover {
  border-left: 4px solid red;
}

.espec-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.espec p {
  grid-column: 2;
  font-size: 1.2rem;
}

footer {
  display: grid;
  font-size: 1.4rem;
  background-color: white;
  text-align: center;
  padding: 2rem;
}
